html {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: Papyrus;
  height: 0;
}

body, main, root {
  margin: 0;
  height: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000aa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffddaa;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffff50aa;
}